@media print,
(max-width: 1023px)
{
    /*-------------------
        Global styles
    -------------------*/



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 24px;
    }



    /*------------
        Header
    ------------*/
    header
    {
        position: fixed;
        z-index: 101;
        top: 0;
        right: 100%;
        left: auto;

        width: 325px;
        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        margin: 0;
        padding: 0;

        transition: transform .3s linear;

        background: #fff;
    }

    header.show
    {
        transform: translateX(100%);
    }


    header .scroll
    {
        display: flex;
        overflow: auto;

        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        padding: 20px 0;

        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
        overscroll-behavior-y: contain;
    }

    header .scroll > *
    {
        width: 100%;
    }



    /*-----------------
        Mob. header
    -----------------*/
    .mob_header
    {
        display: block;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .radios .field
    {
        margin-left: -28px;
    }

    .form .radios .field > *
    {
        margin-left: 28px;
    }


    .form .radios label
    {
        font-size: 16px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .cont
    {
        padding-top: 160px;
        padding-bottom: 160px;
    }


    .first_section .info
    {
        width: 680px;
    }


    .first_section .before_title
    {
        font-size: 22px;
    }


    .first_section .title
    {
        font-size: 136px;
    }


    .first_section .after_title
    {
        font-size: 22px;
    }



    /*--------------
        Services
    --------------*/
    .services .block_title
    {
        font-size: 56px;
    }



    /*-----------------
        About block
    -----------------*/
    .about_block .block_title
    {
        font-size: 44px;
    }



    /*-----------------
        Contacts block
    -----------------*/
    .contacts_block .data
    {
        padding: 60px 40px;
    }


    .contacts_block .block_title
    {
        font-size: 48px;
    }


    .contacts_block .time
    {
        text-align: right;
    }


    .contacts_block .location
    {
        font-size: 26px;

        text-align: right;
    }


    .contacts_block .phones,
    .contacts_block .email
    {
        font-size: 22px;
    }


    .contacts_block .feedback_btn
    {
        right: 40px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info
    {
        margin-bottom: 68px;
    }


    .contacts_info .head
    {
        margin-bottom: 68px;
        padding: 68px 0 58px;
    }


    .contacts_info .head .block_title
    {
        font-size: 64px;
    }


    .contacts_info .data
    {
        width: 100%;
    }


    .contacts_info .item
    {
        font-size: 22px;
    }

    .contacts_info .item + .item
    {
        margin-top: 20px;
        padding-top: 20px;
    }


    .contacts_info .map
    {
        width: 100%;
        height: 375px;
        margin-top: 48px;
    }



    /*--------------
        Feedback
    --------------*/
    .feedback
    {
        padding: 68px 0;
    }



    /*---------------
        Main menu
    ---------------*/
    .main_menu .data
    {
        width: 100%;
        padding: 60px 92px;
    }


    .main_menu .links
    {
        font-size: 60px;
    }

    .main_menu .links > * + *
    {
        margin-top: 28px;
        padding-top: 28px;
    }


    .main_menu .image
    {
        display: none;
    }



    /*------------
        Tour3d
    ------------*/
    .tour3d .title
    {
        font-size: 64px;
    }


    .tour3d .btn.prev_btn
    {
        left: 24px;

        margin-left: 0;
    }

    .tour3d .btn.next_btn
    {
        right: 24px;

        margin-right: 0;
    }



    /*------------------
        Gallery head
    ------------------*/
    .gallery_head .cont
    {
        min-height: 320px;
    }


    .gallery_head .title
    {
        font-size: 64px;
    }


    .gallery_head .tour_3d_btn
    {
        font-size: 17px;

        width: 204px;
        height: 52px;
        margin-top: 40px;
    }



    /*-------------
        Gallery
    -------------*/
    .gallery .row
    {
        margin-bottom: -12px;
        margin-left: -12px;
    }

    .gallery .row > *
    {
        width: calc(33.333% - 12px);
        margin-bottom: 12px;
        margin-left: 12px;
    }



    /*--------------------
        Feedback modal
    --------------------*/
    .feedback_modal .close_btn
    {
        color: var(--text_color);

        top: 24px;
        right: 20px;
    }


    .feedback_modal .data
    {
        width: 100%;
    }


    .feedback_modal .form
    {
        width: 520px;
    }


    .feedback_modal .image
    {
        display: none;
    }



    /*----------------
        Order form
    ----------------*/
    .order_form
    {
        padding: 60px 0;
    }


    .order_form .block_title
    {
        font-size: 44px;
        line-height: 54px;

        margin-bottom: 48px;
    }


    .order_form .form .submit_btn
    {
        font-size: 20px;
        line-height: 24px;

        width: 280px;
    }



    /*---------------
        Gift cert
    ---------------*/
    .gift_cert .head
    {
        min-height: 400px;
        padding: 48px 0;
    }


    .gift_cert .head .block_title
    {
        font-size: 52px;
    }



    .gift_cert .types
    {
        padding: 60px 0;
    }


    .gift_cert .types .text
    {
        font-size: 18px;

        width: 100%;
        padding: 0;
    }


    .gift_cert .types .btns
    {
        margin-top: 40px;
    }


    .gift_cert .types .btns .btn
    {
        font-size: 18px;
        line-height: 60px;

        width: 280px;
        height: 60px;
    }


    .gift_cert .types .mini_modal button
    {
        font-size: 18px;

        height: 60px;
    }



    .gift_cert .ways .block_title
    {
        font-size: 42px;

        margin-bottom: 48px;
    }


    .gift_cert .ways .cols
    {
        width: 100%;
        margin: 0;
    }


    .gift_cert .ways .col,
    .gift_cert .ways .col:first-child,
    .gift_cert .ways .col:last-child,
    .gift_cert .ways .col.bg_white
    {
        width: 100%;
        padding: 40px 24px;

        border-radius: 0;
    }

    .gift_cert .ways .col:last-child
    {
        background: none;
    }

    .gift_cert .ways .col + .col
    {
        margin-left: 0;
    }


    .gift_cert .ways .title
    {
        font-size: 19px;

        margin-bottom: 24px;
    }

    .gift_cert .ways .title br
    {
        display: none;
    }


    .gift_cert .ways ul li
    {
        font-size: 17px;
    }



    .gift_cert .main_data .data
    {
        width: 100%;
        padding: 68px 0 48px;
    }


    .gift_cert .main_data .title
    {
        font-size: 40px;
    }


    .gift_cert .main_data .image
    {
        display: none;

        width: calc(100% + 48px);
        height: 360px;
        margin-left: -24px;
    }



    .gift_cert .with_love
    {
        padding: 68px 0;
    }


    .gift_cert .with_love .title
    {
        font-size: 52px;
        line-height: 64px;
    }

    .gift_cert .with_love span
    {
        font-size: 64px;
    }



    /*------------------
        Masters head
    ------------------*/
    .masters_head .cont
    {
        min-height: 400px;
    }


    .masters_head .block_title
    {
        font-size: 64px;
    }



    /*------------------
        Masters desc
    ------------------*/
    .masters_desc .data
    {
        padding: 48px 24px;
    }


    .masters_desc .text_block
    {
        font-size: 20px;
    }



    /*-------------
        Persons
    -------------*/
    .persons .person .name
    {
        font-size: 30px;
    }



    /*------------------
        Service info
    ------------------*/
    .service_info .block_title
    {
        font-size: 64px;

        margin-bottom: 40px;
    }


    .service_info .types
    {
        margin-bottom: 48px;
    }


    .service_info .types .row
    {
        display: block;
        overflow: auto;

        width: calc(100% + 48px);
        margin: 0 -24px;
        padding: 0 24px;

        white-space: nowrap;

        scrollbar-color: transparent transparent !important;
        scrollbar-width: thin !important;
    }

    .service_info .types .row::-webkit-scrollbar
    {
        width: 0 !important;
        height: 0 !important;

        background-color: transparent !important;
    }

    .service_info .types .row::-webkit-scrollbar-thumb
    {
        background-color: transparent !important;
    }


    .service_info .types .row > *
    {
        display: inline-block;

        max-width: none;
        margin: 0;

        text-align: center;
        vertical-align: top;
    }

    .service_info .types .row > * + *
    {
        margin-left: 8px;
    }


    .service_info .types a
    {
        font-size: 16px;

        padding: 7px 23px;
    }


    .service_info .image
    {
        height: 240px;
    }


    .service_info .items
    {
        margin-bottom: -10px;
        margin-left: -10px;
    }

    .service_info .items > *
    {
        width: calc(33.333% - 10px);
        margin-bottom: 10px;
        margin-left: 10px;
    }


    .service_info .service
    {
        min-height: 240px;
        padding: 112px 20px 20px;
    }


    .service_info .sticker
    {
        font-size: 16px;
        line-height: 56px;

        top: 16px;
        left: 16px;

        width: 56px;
        height: 56px;
    }


    .service_info .service .icon
    {
        top: 24px;
        right: 20px;
    }


    .service_info .service .name
    {
        font-size: 18px;
    }



    /*-----------
        Certs
    -----------*/
    .certs .row
    {
        margin-bottom: -60px;
    }

    .certs .row > *
    {
        width: calc(50% - 20px);
        margin-bottom: 60px;
    }


    .certs .cert .name
    {
        font-size: 18px;
    }



    /*-------------------
        Services page
    -------------------*/
    .services_page
    {
        padding-top: 68px;
    }

    .services_page:before
    {
        height: 280px;
    }


    .services_page .block_title
    {
        font-size: 64px;

        margin-bottom: 52px;
    }



    .services_page .service
    {
        min-height: 300px;
    }


    .services_page .grid > *:nth-last-child(2) .service,
    .services_page .grid > *:nth-last-child(1) .service
    {
        padding: 28px;
    }


    .services_page .service .name .big
    {
        font-size: 44px;
        line-height: 52px;
    }

    .services_page .service .name .big2
    {
        font-size: 32px;
        line-height: calc(100% + 5px);

        min-height: 72px;
    }

    .services_page .service .name .biggest
    {
        font-size: 176px;
        line-height: 196px;

        margin-bottom: -32px;
    }


    .services_page .grid > *:nth-last-child(1) .desc,
    .services_page .grid > *:nth-last-child(2) .desc
    {
        margin-top: 24px;
    }


    .services_page .service .desc
    {
        font-size: 20px;

        min-height: 93px;
    }



    /*---------
        FAQ
    ---------*/
    .faq > .head
    {
        margin-bottom: 60px;
        padding: 68px 0 60px;
    }


    .faq > .head .block_title
    {
        font-size: 64px;
    }


    .faq > .head .block_desc
    {
        font-size: 20px;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        padding: 60px 0 40px;
    }


    footer .menu
    {
        font-size: 17px;
    }


    footer .row
    {
        margin-top: 40px;

        justify-content: center;
    }


    footer .copyright
    {
        width: 100%;
        margin-top: 24px;
        margin-bottom: 0;

        text-align: center;

        order: 3;
    }


    footer .gis2_link
    {
        margin-right: 0;
    }


    footer .location
    {
        width: 100%;
        margin-top: 24px;

        text-align: center;
    }


    footer .email
    {
        margin-top: 24px;
        margin-left: 0;
    }


    footer .phones
    {
        margin-top: 24px;
    }



    /*-----------
        PopUp
    -----------*/
    .modal_title
    {
        margin-bottom: 40px;
    }



    .service_modal .col_left
    {
        width: 100%;
    }

    .service_modal .col_right
    {
        width: 100%;
        margin-top: 40px;
    }


    .service_modal .service_name
    {
        font-size: 40px;
        line-height: 48px;
    }


    .service_modal .prices
    {
        font-size: 24px;
    }

    .service_modal .prices > *:before
    {
        top: 16px;
    }

    .service_modal .prices > * + *:before
    {
        top: 26px;
    }
}
