@media print,
(max-width: 767px)
{
    /*-------------------
        Global styles
    -------------------*/
    .cont,
    .cont.big
    {
        padding: 0 20px;
    }


    .mini_modal
    {
        top: calc(100% + 10px);
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion_item .head .title
    {
        font-size: 16px;
    }


    .accordion_item .data
    {
        padding-right: 0;
    }


    .accordion_item .text_block
    {
        font-size: 16px;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 28px 20px;
    }


    .fancybox__content > .carousel__button.is-close
    {
        top: -24px;
        right: 24px;

        width: 48px;
        height: 48px;
    }


    .fancybox__content > .carousel__button.is-close svg
    {
        width: 16px;
        height: 16px;
    }



    /*-----------------
        Mob. header
    -----------------*/
    .mob_header
    {
        padding: 16px 0;
    }


    .mob_header .logo img
    {
        height: 40px;
    }


    .mob_header .mob_menu_btn
    {
        margin-left: 24px;
    }

    .mob_header .mob_menu_btn .icon
    {
        width: 40px;
        height: 12px;
    }


    .mob_header .phone .btn,
    .mob_header .phone .mini_modal a
    {
        font-size: 22px;
    }


    .mob_header .langs
    {
        margin-left: 20px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .agree label
    {
        font-size: 12px;
        line-height: 16px;

        min-height: 17px;
        padding-left: 32px;
    }

    .form .agree label br
    {
        display: none;
    }


    .form .submit
    {
        padding: 0;
    }


    .form .submit .agree
    {
        margin-bottom: 24px;
    }


    .form .submit_btn
    {
        font-size: 19px;
        line-height: 23px;

        width: 100%;
        height: 60px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        margin-bottom: 68px;
    }


    .first_section .cont
    {
        min-height: 500px;
        padding-top: 120px;
        padding-bottom: 100px;
    }


    .first_section .info
    {
        width: 440px;
    }


    .first_section .before_title
    {
        font-size: 20px;
    }


    .first_section .title
    {
        font-size: 89px;
    }


    .first_section .after_title
    {
        font-size: 20px;
    }



    /*--------------
        Services
    --------------*/
    .services
    {
        margin-bottom: 68px;
    }


    .services .block_title
    {
        font-size: 44px;
    }


    .services .swiper-slide
    {
        width: 320px;
    }



    /*-----------------
        About block
    -----------------*/
    .about_block .image
    {
        overflow: hidden;

        width: 100%;
        height: 360px;
    }


    .about_block .image .ver_title
    {
        font-size: 77px;

        top: -9px;
        left: -16px;
    }


    .about_block .data
    {
        width: 100%;
        min-height: 0;
        padding: 60px 24px;
    }


    .about_block .block_title
    {
        font-size: 44px;
    }



    /*-----------------
        Contacts block
    -----------------*/
    .contacts_block .data
    {
        display: block;

        width: 100%;
        min-height: 0;
        padding: 60px 24px;

        text-align: center;
    }


    .contacts_block .block_title
    {
        font-size: 44px;

        text-align: center;
    }


    .contacts_block .time
    {
        text-align: center;
    }


    .contacts_block .location
    {
        font-size: 24px;

        text-align: center;
    }


    .contacts_block .phones,
    .contacts_block .email
    {
        font-size: 20px;

        margin-top: 16px;

        text-align: center;
    }

    .contacts_block .phones > * + *
    {
        margin-top: 16px;
    }


    .contacts_block .feedback_btn
    {
        font-size: 18px;

        position: relative;
        right: 0;
        bottom: 0;

        margin-top: 40px;
        margin-right: auto;
        margin-left: auto;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info
    {
        margin-bottom: 60px;
    }


    .contacts_info .head
    {
        margin-bottom: 60px;
        padding: 60px 0 52px;
    }


    .contacts_info .head .block_title
    {
        font-size: 52px;
    }


    .contacts_info .item
    {
        font-size: 20px;
    }

    .contacts_info .item + .item
    {
        margin-top: 16px;
        padding-top: 16px;
    }



    /*--------------
        Feedback
    --------------*/
    .feedback
    {
        padding: 60px 0;
    }


    .feedback .block_title
    {
        font-size: 40px;
        line-height: 48px;

        margin-bottom: 32px;
    }



    /*---------------
        Main menu
    ---------------*/
    .main_menu .close_btn
    {
        top: 24px;
        left: 20px;
    }


    .main_menu .data
    {
        padding: 48px 72px;
    }


    .main_menu .links
    {
        font-size: 48px;
    }

    .main_menu .links > * + *
    {
        margin-top: 20px;
        padding-top: 20px;
    }



    /*------------
        Tour3d
    ------------*/
    .tour3d .degrees
    {
        font-size: 17px;
        line-height: 23px;

        width: 80px;
        height: 80px;
    }


    .tour3d .title
    {
        font-size: 52px;
    }


    .tour3d .btn
    {
        bottom: 40px;
    }

    .tour3d .btn .icon
    {
        width: 40px;
        height: 20px;
    }



    /*------------------
        Gallery head
    ------------------*/
    .gallery_head
    {
        margin-bottom: 48px;
    }


    .gallery_head .cont
    {
        min-height: 0;
        padding: 60px 0;
    }


    .gallery_head .title
    {
        font-size: 52px;
    }


    .gallery_head .tour_3d_btn
    {
        font-size: 16px;

        width: 188px;
        height: 48px;
        margin-top: 32px;
    }



    /*-------------
        Gallery
    -------------*/
    .gallery .row
    {
        padding-bottom: 40px;
    }


    .gallery .row > *
    {
        width: calc(50% - 12px);
    }

    .gallery .row > *:nth-child(3n+2),
    .gallery .row > *:nth-child(3n+3)
    {
        top: 0;
    }

    .gallery .row > *:nth-child(2n+2)
    {
        top: 40px;
    }


    .gallery .write_to_us .btn
    {
        font-size: 16px;

        width: 220px;
        height: 56px;
    }



    /*--------------------
        Feedback modal
    --------------------*/
    .feedback_modal .data
    {
        padding: 48px;
    }


    .feedback_modal .block_title
    {
        font-size: 32px;
        line-height: 40px;
    }


    .feedback_modal .form .submit_btn
    {
        font-size: 16px;

        width: 100%;
        height: 48px;
    }



    /*----------------
        Order form
    ----------------*/
    .order_form .block_title
    {
        font-size: 40px;
        line-height: 50px;
    }


    .order_form .form .submit_btn
    {
        font-size: 18px;

        width: 100%;
    }



    /*---------------
        Gift cert
    ---------------*/
    .gift_cert .head
    {
        min-height: 320px;
        padding: 40px 0;
    }


    .gift_cert .head .block_title
    {
        font-size: 44px;
    }



    .gift_cert .types .text
    {
        font-size: 16px;
    }


    .gift_cert .types .btns > *,
    .gift_cert .types .btns .btn
    {
        width: 100%;
    }

    .gift_cert .types .btns > * + *
    {
        margin-top: 10px;
        margin-left: 0;
    }


    .gift_cert .types .mini_modal button
    {
        font-size: 18px;

        height: 60px;
    }



    .gift_cert .ways .block_title
    {
        font-size: 36px;

        margin-bottom: 40px;
    }


    .gift_cert .ways .title
    {
        font-size: 18px;

        margin-bottom: 20px;
    }


    .gift_cert .ways ul li
    {
        font-size: 16px;
    }

    .gift_cert .ways ul li:before
    {
        top: 7px;
    }



    .gift_cert .main_data .title
    {
        font-size: 32px;
    }


    .gift_cert .main_data .item
    {
        font-size: 15px;
    }



    .gift_cert .with_love .title
    {
        font-size: 44px;
        line-height: 52px;
    }

    .gift_cert .with_love span
    {
        font-size: 52px;
    }



    /*------------------
        Masters head
    ------------------*/
    .masters_head .cont
    {
        min-height: 360px;
    }


    .masters_head .block_title
    {
        font-size: 52px;
    }



    /*------------------
        Masters desc
    ------------------*/
    .masters_desc
    {
        margin-bottom: 60px;
    }


    .masters_desc .data
    {
        padding: 40px 24px;
    }


    .masters_desc .text_block
    {
        font-size: 18px;
    }



    /*-------------
        Persons
    -------------*/
    .persons
    {
        margin-bottom: 60px;
    }


    .persons .person .photo
    {
        margin-bottom: 20px;
    }


    .persons .person .name
    {
        font-size: 26px;
    }


    .persons .person .short_name
    {
        font-size: 18px;
    }


    .persons .person .desc
    {
        font-size: 16px;

        margin-top: 20px;
    }



    /*------------------
        Service info
    ------------------*/
    .service_info
    {
        padding-top: 60px;
    }

    .service_info:before
    {
        height: 360px;
    }


    .service_info .block_title
    {
        font-size: 52px;
    }


    .service_info .types a
    {
        font-size: 15px;
    }


    .service_info .image
    {
        height: 220px;
        margin-bottom: -48px;
    }


    .service_info .items > *
    {
        width: calc(50% - 10px);
    }


    .service_info .service
    {
        min-height: 204px;
        padding: 88px 20px 20px;
    }


    .service_info .sticker
    {
        font-size: 14px;
        line-height: 48px;

        width: 48px;
        height: 48px;
    }


    .service_info .service .name
    {
        font-size: 16px;
    }



    /*-----------
        Certs
    -----------*/
    .certs .row
    {
        margin-bottom: -52px;
        margin-left: -12px;
    }

    .certs .row > *
    {
        width: calc(50% - 12px);
        margin-bottom: 52px;
        margin-left: 12px;
    }


    .certs .cert .thumb
    {
        height: 76px;
    }


    .certs .cert .name
    {
        font-size: 17px;
    }


    .certs .cert .btn
    {
        font-size: 16px;

        bottom: -22px;

        width: 140px;
        height: 44px;
    }



    /*-------------------
        Services page
    -------------------*/
    .services_page .block_title
    {
        font-size: 52px;

        margin-bottom: 48px;
    }


    .services_page .swiper-slide
    {
        width: calc(100vw - 80px);
    }


    .services_page .grid
    {
        display: block;
    }

    .services_page .grid > * + *
    {
        margin-top: 20px;
    }


    .services_page .service,
    .services_page .grid > *:nth-last-child(2) .service,
    .services_page .grid > *:nth-last-child(1) .service
    {
        min-height: 280px;
    }


    .services_page .service .name
    {
        font-size: 28px;

        min-height: 66px;
    }


    .services_page .service .name .big
    {
        font-size: 28px;
        line-height: calc(100% + 5px);
    }

    .services_page .service .name .big2
    {
        font-size: 28px;
        line-height: calc(100% + 5px);

        min-height: 66px;
    }

    .services_page .service .name .biggest
    {
        font-size: 28px;
        line-height: calc(100% + 5px);

        margin-bottom: 0;
    }



    /*---------
        FAQ
    ---------*/
    .faq
    {
        padding-bottom: 68px;
    }


    .faq > .head
    {
        margin-bottom: 48px;
        padding: 60px 0 48px;
    }


    .faq > .head .block_title
    {
        font-size: 52px;
    }


    .faq > .head .block_desc
    {
        font-size: 18px;
    }



    /*------------
        Footer
    ------------*/
    footer .menu
    {
        display: flex;

        margin-bottom: -28px;

        justify-content: space-between;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
        text-align: center;
    }

    footer .menu > *
    {
        width: calc(33.333% - 20px);
        margin-bottom: 20px;
    }



    /*-----------
        PopUp
    -----------*/
    .modal
    {
        padding: 48px 28px;
    }


    .modal_title
    {
        font-size: 30px;
        line-height: 118.4%;
    }



    .service_modal .col_right
    {
        margin-top: 24px;
    }


    .service_modal .service_name
    {
        font-size: 36px;
        line-height: 44px;
    }


    .service_modal .desc
    {
        font-size: 16px;

        margin-top: 24px;
    }


    .service_modal .prices
    {
        font-size: 22px;
    }

    .service_modal .prices > *:before
    {
        top: 14px;
    }

    .service_modal .prices > * + *:before
    {
        top: 24px;
    }


    .service_modal .cert .title
    {
        font-size: 20px;

        margin-bottom: 20px;
    }
}
